.container{
	width: auto;
	min-width: 450px;
	min-height: 500px;
	padding: 10px 20px 0 20px;
	background-color: #E6E6FA;
}

.top{
	width: auto;
	min-height: 60%;
	padding: 10px 20px 0 20px;
}

.bottom{

}

td {
	border:0.5px solid black;
		padding:2px;
}

h1{
	width: 50%;
	margin: 2px;
}

h2{
	width: 50%;
	margin: 2px;
}